body {
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

html {
    background-color: #e5e5e5;
}